.photo-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;

  img {
    width: 450px;
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 1400px) {
  .photo-container img {
    max-width: 430px;
    max-height: 350px;
  }
}
@media (max-width: 1330px) {
  .photo-container img {
    max-width: 410px;
    max-height: 350px;
  }
}

@media (max-width: 1275px) {
  .photo-container img {
    max-width: 370px;
    max-height: 350px;
    gap: 10px;
  }
}
@media (max-width: 1140px) {
  .photo-container img {
    max-width: 350px;
    max-height: 350px;
    gap: 10px;
  }
}

@media (max-width: 1085px) {
  .photo-container img {
    max-width: 320px;
    max-height: 300px;
    gap: 10px;
  }
}
@media (max-width: 985px) {
  .photo-container img {
    max-width: 300px;
    max-height: 250px;
    gap: 10px;
  }
}
@media (max-width: 915px) {
  .photo-container img {
    max-width: 250px;
    max-height: 200px;
    gap: 10px;
  }
}
@media (max-width: 790px) {
  .photo-container img {
    max-width: 240px;
    max-height: 250px;
    gap: 10px;
  }
}

.expanded-photo {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

.pp-block {
  text-align: center;
  width: 100%;

  &_title {
    margin: 30px auto;
    text-transform: uppercase;
    font-family: "Ubuntu", Sans-serif;
    font-weight: 700;
    line-height: 2;
    font-size: 150%;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #b05be6;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(37, 16, 49, 0.5);
  }
}

.custom-modal .ant-modal-content {
  width: 570px;
  height: 570px;

}

@media (max-width: 720px) {
  .custom-modal .ant-modal-content {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 550px) {
  .custom-modal .ant-modal-content {
    width: 410px;
    height: 400px;
  }
}
@media (max-width: 480px) {
  .custom-modal .ant-modal-content {
    width: 380px;
    height: 390px;
  }
}
@media (max-width: 420px) {
  .custom-modal .ant-modal-content {
    width: 330px;
    height: 340px;
  }
}

.custom-modal .ant-modal-body {
  padding: 0;
}

.expanded-photo {
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}
@media (max-width: 720px) {
  .expanded-photo {
    max-width: 450px;
    max-height: 380px;
    object-fit: contain;
  }
}

@media (max-width: 550px) {
  .expanded-photo {
    max-width: 400px;
    max-height: 340px;
    object-fit: contain;
  }
}
@media (max-width: 480px) {
  .expanded-photo {
    max-width: 320px;
    max-height: 350px;
    object-fit: contain;
  }
}
@media (max-width: 420px) {
  .expanded-photo {
    max-width: 270px;
    max-height: 300px;
    object-fit: contain;
  }
}
