.schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .schedule-image-container {
    text-align: center;
  }
  
  .responsive-image {
    max-width: 100%;
    height: auto;
  }