.video-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  &_title {
    margin-top: 10px;
    font-family: "Ubuntu", Sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-shadow: 2px 2px 4px rgba(122, 11, 100, 0.5);
  }
}

.video-item {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 650px) {
  .video-container {
    width: 450px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .video-container {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 444px) {
  .video-container {
    width: 350px;
    height: 280px;
  }
}
@media (max-width: 390px) {
  .video-container {
    width: 320px;
    height: 200px;
  }
}