.dance-footer {
    padding: 20px 40px;
    background-color: #222;
   
    display: flex;
    align-items: center;
    
    gap: 0px;
        img {
            width: 10%;
            margin-right: 100px;
            margin-left: 40px;
           
        }
    }


.dance-footer_contacts {
    display: flex;
    flex-direction: row;
 justify-content: space-around;
    align-items: center;
    gap: 400px;
    border-width: 0 0 0 3px;
     border-color: #c50ef8;
     margin: 0 0 20px;
   
}

.dance-footer-contacts_icons {
    display: flex;
    color: #333333;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &-item {
        
            margin-top: 50px;
            font-size: 3em; 
            color: #eceef1;
          
            cursor: pointer;
      
        }
}

.dance-footer_contacts-text {
   
    font-family: Ubuntu sans-serif;
    font-style: normal;
    letter-spacing: 0.7px;
  font-weight: 700;
 
  line-height: 30px;
  color: #eceef1;
 
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: #fa93f1;
  letter-spacing: 1px;
  padding-left: 15px;
  margin: 20px 0 0;
  

  h3 {
    text-transform: uppercase;
  }
  
}